* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $white;
    font-family: $primary-font;
    font-weight: 300;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h2, h3, h4 {
    text-transform: uppercase;
    font-weight: 600;
}

img {
    width: 100%;
}