@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

$website-width: 1280px;
$primary-color:#4C5072;
$primary-color-light: #9396AA;
$white: #fff;
$black: #000;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/showcase.jpg');
$primary-font: 'Montserrat', sans-serif;